@font-face {
  font-family: 'Euclid Circular A SemiBold';
  src: url('Euclid Circular A SemiBold.eot');
  src: url('Euclid Circular A SemiBold.eot?#iefix') format('embedded-opentype'),
       url('Euclid Circular A SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EuclidCircularA-SemiBold';
  src: url('EuclidCircularA-SemiBold.svg#EuclidCircularA-SemiBold') format('svg'),
       url('EuclidCircularA-SemiBold.ttf') format('truetype'),
       url('EuclidCircularA-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

